<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css">
    <title>Student Scholarship</title>
</head>

<body>
    <div class="container">
		<form action="/" method="POST" class="form-signin text-center">
              <img class="mb-4 mx-auto" src="AJ_Buddy_graduate.svg" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
              <label for="studentId" class="sr-only">Student ID</label>
              <input type="text" id="studentId" class="form-control" name="studentId" placeholder="Student ID" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
              <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    	  </form>
    </div>
    
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        Personal Informations
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><b>Name: </b>Farah Farhin Oishi</h5>
                        <p class="card-text"><b>Student ID: </b>18104857</p>
                        <p class="card-text"><b>Email adress: </b> farahfarhin@gmail.com</p>
                        <p class="card-text"><b>Phone no: </b>01234567890</p>
                        <p class="card-text"><b>Current Status of application: </b>pending</p>
                        <p>
                            <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Edit your info
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <form>
                                    <div class="form-group row mb-0">
                                        <label for="staticName" class="col-sm-2 col-form-label">Name:</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext" id="staticName" value="Farah Farhin Oishi">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label for="staticid" class="col-sm-2 col-form-label">ID:</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext" id="staticid" value="18104857">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label for="changeEmail" class="col-sm-2 col-form-label">Email:</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="changeEmail">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label for="changeEmail" class="col-sm-2 col-form-label">Phone:</label>
                                        <div class="col-sm-10">
                                            <input type="number" style="appearance: none;" class="form-control" id="changeEmail">
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-dark mt-2">Save</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>

    </div> -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">    </script>
</body>

</html>